@model Providencia.Entidades.PRV_DADOS_ESCOLARES_FAMILIA

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>DADOS ESCOLARES FAMÍLIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRV_CONSTITUICAO_FAMILIAR.PRV_NOME_MEMBRO_FAMILIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRV_CONSTITUICAO_FAMILIAR.PRV_NOME_MEMBRO_FAMILIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRV_ESCOLARIDADE.PRV_DESCRICAO_ESCOLARIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRV_ESCOLARIDADE.PRV_DESCRICAO_ESCOLARIDADE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PRV_ID_DADOS_ESCOLARES_FAMILIA }) |
    @Html.ActionLink("Voltar", "Index")
</p>
