@model IEnumerable<Providencia.Entidades.PRV_ESCOLARIDADE_EDUCANDO>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRV_EDUCANDO.PRV_NOME_RESPONSAVEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_SERIE_ESCOLARIDADE_EDUCANDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_ENSINO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_TURNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRV_REPETINDO_SERIE_ATUAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_EDUCANDO.PRV_NOME_RESPONSAVEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_SERIE_ESCOLARIDADE_EDUCANDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_ENSINO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_TURNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRV_REPETINDO_SERIE_ATUAL)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PRV_ID_DADOS_ESCOLARIDADE_EDUCANDO }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PRV_ID_DADOS_ESCOLARIDADE_EDUCANDO }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.PRV_ID_DADOS_ESCOLARIDADE_EDUCANDO })
        </td>
    </tr>
}

</table>
