@model Providencia.Entidades.PRV_BENEFICIOS_FAMILIA

@{
    ViewBag.Title = "Create";
}

<h2></h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PRV_BENEFICIOS_FAMILIA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PRV_ID_MEMBRO_FAMILIA, "PRV_ID_MEMBRO_FAMILIA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PRV_ID_MEMBRO_FAMILIA", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PRV_ID_MEMBRO_FAMILIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRV_ID_BENEFICIO, "PRV_ID_BENEFICIO", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PRV_ID_BENEFICIO", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PRV_ID_BENEFICIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
