@model Providencia.Entidades.PRV_ROTINA_DAS_CRIANCAS_ADOLESCENTE_NUCLEO_FAMILIAR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRV_ROTINA_DAS_CRIANCAS_ADOLESCENTE_NUCLEO_FAMILIAR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRV_EDUCANDO.PRV_NOME_EDUCANDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRV_EDUCANDO.PRV_NOME_EDUCANDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO_ROTINA_DAS_CRIANCAS_ADOLESCENTE_NUCLEO_FAMILIAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO_ROTINA_DAS_CRIANCAS_ADOLESCENTE_NUCLEO_FAMILIAR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRV_ID_ROTINA_DAS_CRIANCAS_ADOLESCENTE_NUCLEO_FAMILIAR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
